.bonus {
  font-size: 20px;

  &__text {
    margin: 0 0 16px;
  }

  &__bonus {
    width: 316px;
    padding: 34px 42px 37px;
    font-family: "Nautilus Pompilius", "Arial", serif;
    font-size: 22px;
    line-height: 142.1%;
    color: $black;
    text-align: center;
    background: url(../../img/bg.png) no-repeat 50% 50%;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba($black, 0.25);
  }
}
